.DS_Store
node_modules

/dist
target
.idea/
.mvn/
# local env files
.env.local
.env.*.local
.iml
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.iml
**/*.iml
*/*.iml
**/**/*.iml
*/*/*.iml
*.iml/
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
