<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rose.yaj.mapper.YanCategoryMapper">
<!--    <select id="testMap" resultType="map">-->
<!--        SELECT que_title ,que_content, u.`avatar_url`,u.`growth` FROM `yan_question` q-->
<!--        LEFT JOIN yan_user u ON u.openid =q.openid-->
<!--    </select>-->
<!--    <select id="testMap2" resultType="com.rose.yaj.dto.QuestionFormSubmit$Yan">-->
<!--        SELECT que_title ,que_content, u.`avatar_url`,u.`growth` FROM `yan_question` q-->
<!--        LEFT JOIN yan_user u ON u.openid =q.openid-->
<!--    </select>-->
</mapper>
