<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.renren.modules.generator.dao.YanOrderMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.rose.yaj.entity.YanOrderEntity" id="yanOrderMap">
        <result property="orderId" column="order_id"/>
        <result property="orderNo" column="order_no"/>
        <result property="openid" column="user_id"/>
        <result property="totalPrice" column="total_price"/>
        <result property="payStatus" column="pay_status"/>
        <result property="payType" column="pay_type"/>
        <result property="payTime" column="pay_time"/>
        <result property="orderStatus" column="order_status"/>
        <result property="extraInfo" column="extra_info"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>


</mapper>