<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rose.yaj.mapper.YanUserChatMapper">
    <!--批量更新状态为收到-->
    <update id="updateBatch">
        update yan_im_user_chat
        set status='receive' where msg_id in
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.rose.yaj.dto.ChatDto$PageChat" id="yanChatDto">

        <result property="avatarUrl" column="avatar_url"/>
        <result property="type" column="stype"/>
        <result property="ttype" column="ttype"/>
        <result property="content" column="content"/>
        <result property="msgId" column="msg_id"/>
        <result property="createTime" column="create_time"/>
        <result property="OtherOpenid" column="to_openid"/>
        <result property="targetId" column="targetId"/>
        <result property="group" column="sgroup"/>
    </resultMap>


<!--    // SELECT  ttype  ,to_openid ,sgroup, targetId,t.stype,t.to_openid,t.content,t.create_time,t.msg_id-->
<!--    FROM (-->
<!--    SELECT  t_type ttype, `group` as  sgroup ,to_openid 	as targetId,  'self' as stype , to_openid, content, create_time, msg_id-->
<!--    FROM yan_im_user_chat-->
<!--    WHERE user_openid = #{userId}-->

<!--    UNION-->

<!--    SELECT t_type  ttype  ,  `group` as  sgroup ,user_openid as	targetId, 'receive' as stype , to_openid, content, create_time, msg_id-->
<!--    FROM yan_im_user_chat-->
<!--    WHERE to_openid = #{userId}-->
<!--    ) t-->
<!--    WHERE t.msg_id > #{minMsgId}-->
<!--    ORDER BY t.msg_id, t.create_time-->
    <select id="listByOpenidAll" resultMap="yanChatDto">



        SELECT avatar_url, ttype  ,to_openid ,sgroup, targetId,t.stype,t.to_openid,t.content,t.create_time,t.msg_id
        FROM (
            select  imuser.avatar_url  , chat.t_type ttype,  chat.`group` as  sgroup , chat.to_openid 	as targetId,  'self' as stype ,  chat.to_openid,  chat.content,  chat.create_time,  chat.msg_id
            FROM yan_im_user_chat   chat
           	left join yan_im_user  imuser on  chat.user_openid = imuser.openid
            WHERE chat.user_openid =#{userId} and   chat.`group` ='1'

            UNION

            select  imuser.avatar_url  , chat.t_type  ttype  ,   chat.`group` as  sgroup , chat.user_openid as	targetId, 'receive' as stype , chat.to_openid, chat.content, chat.create_time,chat. msg_id
            FROM yan_im_user_chat  chat
              	left join yan_im_user  imuser on  chat.user_openid = imuser.openid
            WHERE to_openid =#{userId} and   chat.`group` ='1'
        ) t
        WHERE t.msg_id > #{minMsgId}
        ORDER BY t.msg_id, t.create_time

    </select>
</mapper>